<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
    <header>
        <h1>Welcome to My Portfolio</h1>
        <p>"Discover my wide selection of 3D printed goods and services that is useful for your everyday needs! Like a pot, functional 3D printed Joints
          and many more just contact us and we will get it done!"
        </p>
        <a href="/about">About Me</a><br>
        <a href="/contact">Contact form</a><br>
        <a href="/products">My projects</a><br>
        <a href="/services">services</a>
    </header>
    <aside>
      <div class="image-container">
        <img src="/img/PrintMeeting.jpg" alt="Me" width="700px" height="400px" >
    </div>
    </aside>
    <section>
        <h2>Mission Statement</h2>
        <p>"To me, business is not about wearing suits or pleasing stockholders. It is about being true to yourself, your ideas and focusing on the essentials."<br>
          Customer satisfaction and proper work ettiquete is what we stand for.
        </p>
    </section>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
   